<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Coyote Reader's Club!</h1>
        <p class="lead text-center">Each student that tracks their reading will win prizes.</p>
        <p class="lead">To begin please enter a username and password: </p>
        <div class="container">
            <div class="row">
                <form action="/home/login" method="post" class="col-sm-4">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="student">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="student">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Begin &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>
