<h1>Track another book</h1>

<form class="col-sm-6" action="/track" method="post">
    <div class="form-group">
        <label for="title">Book Title</label>
        <input type="text" name="title" class="form-control" id="text" placeholder="Title" value="Harry Potter">
    </div>
    <div class="form-group">
        <label for="minutes">Minutes Read</label>
        <input type="number" name="minutes" class="form-control" id="minutes" placeholder="minutes" value="30">
    </div>
    <div class="form-group">
        <label for="minutes">Day of the week</label>
        <select class="form-control" name="day">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
